<div class="contextual-bar" style="display: none" data-bind="visible: true">
    <div class="fulltext-search-wrapper">
        <div class="block-title">
            <strong role="heading" aria-level="1" data-bind="text: searchTitleText"></strong>
        </div>

        <form class="form" data-bind="submit: onSearch">
            <div class="field" data-bind="scope: 'store-locator-search'">
                <input type="text" name="text" data-bind="value: fulltextSearch, attr: {placeholder: searchPlaceholderText}" />
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action primary"><span data-bind="text: searchButtonText"></span></button>
                </div>
            </div>
        </form>
    </div>

    <div class="search-result-list">
        <div class="search-result-header">
            <p data-bind="text: getSearchResultLabel()"></p>
            <span data-bind="if: displayReset()"><a data-bind="click: onSearchReset">View all</a></span>
        </div>
        <ul data-bind="foreach: displayedMarkers">
            <li data-bind="template: $parent.storeListTemplate" class="result-item"></li>
        </ul>
    </div>
</div>

<div class="map" data-bind="afterRender: initMap"> </div>