<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Smile\StoreLocator\Api\Data\RetailerAddressInterface" type="Smile\StoreLocator\Model\Data\RetailerAddress"/>
    <preference for="Smile\StoreLocator\Api\Data\RetailerTimeSlotInterface" type="Smile\StoreLocator\Model\Data\RetailerTimeSlot"/>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Smile\StoreLocator\Api\Data\RetailerAddressInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">smile_retailer_address</item>
                    <item name="identifierField" xsi:type="string">address_id</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Smile\Retailer\Api\Data\RetailerInterface" xsi:type="array">
                    <item name="create" xsi:type="array">
                        <item name="create_retailer_address" xsi:type="string">Smile\StoreLocator\Model\Retailer\AddressSaveHandler</item>
                        <item name="create_retailer_opening_hours" xsi:type="string">Smile\StoreLocator\Model\Retailer\OpeningHoursSaveHandler</item>
                        <item name="create_retailer_special_opening_hours" xsi:type="string">Smile\StoreLocator\Model\Retailer\SpecialOpeningHoursSaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="update_retailer_address" xsi:type="string">Smile\StoreLocator\Model\Retailer\AddressSaveHandler</item>
                        <item name="update_retailer_opening_hours" xsi:type="string">Smile\StoreLocator\Model\Retailer\OpeningHoursSaveHandler</item>
                        <item name="update_retailer_special_opening_hours" xsi:type="string">Smile\StoreLocator\Model\Retailer\SpecialOpeningHoursSaveHandler</item>
                    </item>
                    <item name="read" xsi:type="array">
                        <item name="read_retailer_address" xsi:type="string">Smile\StoreLocator\Model\Retailer\AddressReadHandler</item>
                        <item name="read_retailer_opening_hours" xsi:type="string">Smile\StoreLocator\Model\Retailer\OpeningHoursReadHandler</item>
                        <item name="read_retailer_special_opening_hours" xsi:type="string">Smile\StoreLocator\Model\Retailer\SpecialOpeningHoursReadHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Smile\Retailer\Controller\Adminhtml\Retailer\Save">
        <arguments>
            <argument name="postDataHandlers" xsi:type="array">
                <item name="addressDataHandler" xsi:type="object">Smile\StoreLocator\Model\Retailer\AddressPostDataHandler</item>
                <item name="openingHoursDataHandler" xsi:type="object">Smile\StoreLocator\Model\Retailer\OpeningHoursPostDataHandler</item>
                <item name="specialOpeningHoursDataHandler" xsi:type="object">Smile\StoreLocator\Model\Retailer\SpecialOpeningHoursPostDataHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Smile\Retailer\Model\ResourceModel\Retailer\Collection">
        <plugin name="smile_store_locator_add_extension_attributes" type="Smile\StoreLocator\Plugin\RetailerCollectionPlugin"/>
    </type>

    <type name="Smile\Seller\Ui\Component\Seller\Form\DataProvider">
        <plugin name="smile_store_locator_add_address" type="Smile\StoreLocator\Plugin\RetailerEditFormPlugin"/>
    </type>

    <type name="Magento\Ui\Component\Form">
        <plugin name="smile_store_locator_ui_component_form" type="Smile\StoreLocator\Plugin\RetailerUiComponentFormPlugin"/>
    </type>
</config>
