<div class="result-item-container">
    <div class="heading" style="display: flex">
        <p class="name-label" style="flex: 1"><strong data-bind="text: name"></strong></p>
        <!--<div class="opening-status">-->
            <!--<p class="open" data-bind="visible: is_open == true">Open</p>-->
            <!--<p class="closed" data-bind="visible: is_open == false">Closed</p>-->
        <!--</div>-->
    </div>
    <div class="current-status-shop" data-bind="html: $data.shopStatus()"></div>
    <div class="details" style="display: flex">
        <div class="location-number-block">
            <span data-bind="text : $index() + 1"></span>
        </div>
        <p class="address" style="flex:1"><span data-bind="html: address"></span></p>
        <p><a href="#" onClick="return false;" data-bind="{ i18n: 'Details'}" class="details-shop-btn"></a></p>
    </div>
    <div class="render-distance clearfix">
        <span class="render-btn">M’y rendre</span>
        <span class="distance" data-bind="text: distanceBetween"></span>
    </div>
</div>

