<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="smile_seller_save_after">
        <observer name="smile_store_locator_clear_cache" instance="Smile\StoreLocator\Observer\CleanStoreLocatorCache" shared="false"/>
    </event>
    <event name="smile_seller_delete_after">
        <observer name="smile_store_locator_clear_cache" instance="Smile\StoreLocator\Observer\CleanStoreLocatorCache" shared="false"/>
    </event>
</config>
