<!-- ko if: displayedMarkers()[0].shopStatus -->
<div>
    <!-- ko if: closestShopsDisplay != undefined && closestShopsDisplay.length > 0 -->
        <div>
            <h3 data-bind="i18n: 'Shops nearby'" class="shops-nearby-title"></h3>
            <ul class="nearby-marker-wrapper-list" data-bind="foreach: closestShopsDisplay">
                <li data-bind="template: $parent.nearbyStoreTemplate" class="nearby-marker-wrapper-item"></li>
            </ul>
            <p class="simple-text">
                Sed maximum est in amicitia parem esse inferiori.
                Saepe enim excellentiae quaedam sunt, qualis erat Scipionis in nostro,
                ut ita dicam, grege. Numquam se ille Philo, numquam Rupilio,
                numquam Mummio anteposuit, numquam inferioris ordinis amicis.
            </p>
        </div>
    <!-- /ko -->
</div>

<!-- /ko -->
